CREATE DATABASE SalaoDeBeleza
GO

USE SalaoDeBeleza
GO

CREATE TABLE Funcionario (
	Id			int				identity primary key,
	Nome		varchar(50),
	Telefone	char(12),
	CPF			char(12),
	Profissao	varchar(15),
	Email		varchar(50),
	Ativo		bit,
	Usuario		varchar(25),
	Senha		varchar(100)
)
GO


CREATE TABLE Cliente (
	Id				int				identity primary key,
	Nome			varchar(50),
	Telefone		char(12),
	CPF				char(12),
	Sexo			varchar(15),
	DataNascimento	date,
	Ativo			bit,
)
GO

CREATE TABLE Produto (
	Id				int				identity primary key,
	Nome			varchar(50),
	Peso			float,
	Medicao			varchar(12),
	Quantidade		int,
	Ativo			bit,
	Imagem			Image,
)

CREATE TABLE Procedimento (
	Id					int				identity primary key,
	Nome				varchar(50),
	AreaProfissional	varchar(15),
	Ativo				bit,
)
GO

CREATE TABLE Produtos_De_Procedimento (
	ProdutoId 		int	 foreign key references Produto(Id),
	ProcedimentoId	int	 foreign key references Procedimento(Id),
	primary key (ProdutoId, ProcedimentoId)
)
GO

CREATE TABLE Agenda (
	Id				int			identity	primary key,
	Cliente			int			foreign key references Cliente(Id),
	Funcionario		int			foreign key references Funcionario(Id),
	Procedimento	int			foreign key references Procedimento(Id),
	[Data]			date,
	Horas			char(3),
	Minutos			char(3),
	Ativo			bit,
)
GO

